# Logs and temporary files
*.log
*.tmp

# Environment files
*.env

# Python-specific files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.coverage
*.pytest_cache/
*.tox/
*.vscode/

# Virtual environments
env/
venv/

# Dependency files (lock files can be added if needed)
pip-log.txt
pip-delete-this-directory.txt

# OS-specific files
.DS_Store
Thumbs.db

# Uploaded files
app.log
keys.env
requirements.txt
testapi.py
twitter_bot.py
